---
import Socials from "./Socials.astro";

const platform = "github";
const username = "jayesh6442";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Socials platform="instagram" username="notjayyesh" />
</footer>
